.blurry {
    max-height: 95vh;
    max-width: 100%;
    background: linear-gradient(to right, #FFFFFC, #FFFFFE);
    background-repeat: no-repeat;
}

td, tr {
    word-wrap: break-word;
    white-space: nowrap;
}

.box {
    width: 75%;
    height: 435px;
    margin: 0 auto;
    border-radius: 10px;
    top: 50px;
    left: 50px;
    position: fixed;
    border: 1px solid black;
}

.blurry thead {
    position: sticky;
    top: 0;
}

.box tr, .main-title {
    color: #000000;
}

.cursor {
    cursor: move;
}

.main-title {
    font-size: 32px;
    font-family: Palatino Linotype;
    display: table;
    margin: 0 auto;
}

.close-popup {
    float: right;
    position: absolute;
    margin-right: 5px;
    margin-top: 5px;
    top: 0;
    right: 0;
}

.absolute-left {
    position: absolute;
    left: 0;
    bottom: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.list-group-item {
    background-color: transparent;
    border-top: 1px solid #ddd;
    border-radius: 0;
    color: #000000;
}