tr:focus {
    outline: 0;
}

td, tr {
    word-wrap: break-word;
    white-space: nowrap;
}

.cursor {
    cursor: move;
}

.list-group-item {
    background-color: transparent;
    border-top: 1px solid #ddd;
    border-radius: 0;
    color: #000000;
}
